# FOTA Automation Utility - Environment Configuration

# Accolade FOTA Portal Web & API Credentials
PORTAL_URL=https://aepl-tcu4g-qa.accoladeelectronics.com/login
PORTAL_USER=suraj.bhalerao@accoladeelectronics.com
PORTAL_PASS=your_password_here
USER_ID=64116e41c56760941baea6ac

# Hardware Serial Communication Settings
SERIAL_PORT=
SERIAL_BAUD=115200

# Default Device State
DEFAULT_STATE=DO NOT DELETE

# API Sync & Manual FOTA Settings
FETCH_SERVERS_API_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/server/getServerData?page=1&size=50&search=
FETCH_SERVER_DATA_BY_ID=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/server/getServerDataByUId?id={id}
FOTA_TRIGGER_API_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/fota/createManualFota
