# Continuous FOTA Utility Environment Configuration Example

# Portal Credentials
PORTAL_URL=https://aepl-tcu4g-qa.accoladeelectronics.com/login
PORTAL_LOGIN_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/user/login
PORTAL_USER=your_username_here
PORTAL_PASS=your_password_here
USER_ID=your_user_id_here

# Serial Communication Settings
SERIAL_PORT=COM5
SERIAL_BAUD=115200
DEFAULT_STATE=Maharashtra

# API Endpoints
FETCH_SERVERS_API_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/server/getServerData?page=1&size=50&search=
FETCH_SERVER_DATA_BY_ID=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/server/getServerDataByUId?id={id}
FETCH_FOTA_HISTORY_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/fota/getFOTADevicesHistory?imei={imei}
FOTA_TRIGGER_API_URL=https://aepl-tcu4g-qa.accoladeelectronics.com:6101/api/fota/createManualFota
