<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console appender for terminal output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- Program activity log appender -->
        <RollingFile name="ProgramAppender" fileName="${basePath}/program_progress.log"
                     filePattern="${basePath}/program_progress-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Serial log appender (this will be routed programmatically from LogWriter) -->
        <Routing name="SerialRoutingAppender">
            <Routes pattern="$${ctx:serial_filename}">
                <Route>
                    <RollingFile name="SerialAppender-${ctx:serial_filename}" 
                                 fileName="${basePath}/${ctx:serial_filename}"
                                 filePattern="${basePath}/${ctx:serial_filename}-%d{yyyy-MM-dd}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n" />
                        <Policies>
                            <SizeBasedTriggeringPolicy size="50 MB" />
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ProgramAppender" />
        </Root>

        <!-- Logger specifically for the Serial LogWriter -->
        <Logger name="com.aepl.atcu.logging.SerialLogger" level="info" additivity="false">
            <AppenderRef ref="SerialRoutingAppender" />
        </Logger>
    </Loggers>
</Configuration>
